doctype html
html(class="no-js", lang="ru")

  include ../blocks/head/head.pug
  include ../blocks/header/header.pug
  include ../blocks/footer/footer.pug

  include ../blocks/learn/learn.pug
  include ../blocks/feedback/feedback.pug
  include ../blocks/program/program.pug
  include ../blocks/format/format.pug


  head
    +head(head.defaults)
  body.page
    .page__bg.lazy(data-bg='url(assets/images/general/course-bg.png)')
    |%=symbols=%

    +header()
    .page__inner
      +learn()
      +feedback()
      +program()
      +format()
    .page__bottom
      +footer()

    //- script(src="//api-maps.yandex.ru/2.1/?apikey=d491e610-d9d0-4022-9b4c-e2d184cf5425&lang=ru_RU")
    script(src='%=static=%js/separate-js/lazyload.min.js' defer)
    script(src='%=static=%js/separate-js/jquery.min.js' defer)
    //- script(src='%=static=%js/separate-js/jquery.magnific-popup.min.js' defer)
    script(src='%=static=%js/separate-js/slick.min.js' defer)

    script(src='%=static=%js/main%=hash=%%=min=%.js' defer)


    //- script.
    //-   ymaps.ready(init);

    //-   function init() {
    //-     var myMap = new ymaps.Map('map', {
    //-       center: [55.720418, 37.772047],
    //-       zoom: 7,
    //-       //- controls: ['']
    //-     }, {
    //-       searchControlProvider: ''
    //-     });

    //-     var markerClass = ymaps.templateLayoutFactory.createClass(
    //-       '<div class="marker" >' +
    //-       '<div class="marker__arrow"></div>' +
    //-       '<div class="marker__item"><div class="marker__image">' +
    //-       '<img src="{{ properties.src }}" alt="{{ properties.alt }}"/>' +
    //-       '</div>' +
    //-       '<div class="marker__entry"><div class="marker__title">{{ properties.city }}</div>' +
    //-       '</div>' +
    //-       '</div>'
    //-     );


    //-     var myPlacemark = new ymaps.Placemark([55.755062, 37.617184],
    //-     {
    //-       city: 'Москва',
    //-       src: 'assets/images/content/catalog-company.png',
    //-       alt: 'company name',
    //-     }, {
    //-       //- iconContentLayout: markerClass,
    //-       //- iconLayout: markerClass,
    //-       iconContentLayout: markerClass,
    //-       iconLayout: 'default#imageWithContent',
    //-       iconImageHref: '',
    //-       //- balloonContentLayout: markerClass,
    //-       iconImageSize: [282, 169],
    //-       iconImageOffset: [-62, -129]

    //-     });


    //-     var myPlacemark2 = new ymaps.Placemark([57.626559, 39.893804],
    //-     {
    //-       city: 'Ярославль',
    //-       src: 'assets/images/content/catalog-company.png',
    //-       alt: 'company name',
    //-     }, {
    //-       iconContentLayout: markerClass,
    //-       iconLayout: 'default#imageWithContent',
    //-       iconImageHref: '',
    //-       //- balloonContentLayout: markerClass,
    //-       iconImageSize: [282, 169],
    //-       iconImageOffset: [-62, -129]
    //-       //- iconImageOffset: [-282, 169]
    //-     });


    //-     var myPlacemark3 = new ymaps.Placemark([56.326797, 44.006516],
    //-     {
    //-       city: 'Нижний Новгород',
    //-       src: 'assets/images/content/catalog-company.png',
    //-       alt: 'company name',
    //-     }, {
    //-       iconContentLayout: markerClass,
    //-       iconLayout: 'default#imageWithContent',
    //-       iconImageHref: '',
    //-       //- balloonContentLayout: markerClass,
    //-       iconImageSize: [282, 169],
    //-       iconImageOffset: [-62, -129]
    //-       //- iconImageOffset: [-282, 169]
    //-     });

    //-     var myPlacemark4 = new ymaps.Placemark([58.522810, 31.269915],
    //-     {
    //-       city: 'Великий Новгород',
    //-       src: 'assets/images/content/catalog-company.png',
    //-       alt: 'company name',
    //-     }, {
    //-       iconContentLayout: markerClass,
    //-       iconLayout: 'default#imageWithContent',
    //-       iconImageHref: '',
    //-       //- balloonContentLayout: markerClass,
    //-       iconImageSize: [282, 169],
    //-       iconImageOffset: [-62, -129]
    //-       //- iconImageOffset: [-282, 169]
    //-     });


    //-     myMap.geoObjects
    //-       .add(myPlacemark)
    //-       .add(myPlacemark2)
    //-       .add(myPlacemark3)
    //-       .add(myPlacemark4);

    //-   }
