mixin popup(data)
  .popup#popup
    |<script id="178acde7653c97a7936883e49b127ebf74cc50e0" src="https://designpartner.getcourse.ru/pl/lite/widget/script?id=198986"></script>
    //- form#ltForm8726472(action='https://design.viceverso.ru/pl/lite/block-public/process-html?id=687783747' method='post' data-open-new-window='1')
    //-   input(type='hidden' name='formParams[setted_offer_id]')
    //-   br
    //-   input(type='text' maxlength='60' placeholder='Введите ваш эл. адрес' name='formParams[email]' value='')
    //-   br
    //-   input(type='text' maxlength='60' placeholder='Введите ваше имя' name='formParams[full_name]' value='')
    //-   br
    //-   input(type='text' maxlength='60' placeholder='Введите ваш телефон' name='formParams[phone]' value='')
    //-   br
    //-   button#button4958714(type='submit' style='color: ; background-color: ; ' onclick="if(window['btnprs5eba94e89f07b']){return false;}window['btnprs5eba94e89f07b']=true;setTimeout(function(){window['btnprs5eba94e89f07b']=false},6000);return true;")
    //-     | Перейти к оплате
    //-   br
    //-   input#1989865eba94e899c7d.__gc__internal__form__helper(type='hidden' name='__gc__internal__form__helper' value='')
    //-   input#1989865eba94e899c7dref.__gc__internal__form__helper_ref(type='hidden' name='__gc__internal__form__helper_ref' value='')
    //-   input(type='hidden' name='requestTime' value='1589286120')
    //-   input(type='hidden' name='requestSimpleSign' value='ab4aa930c1fc22b65dc8764c9cd32646')
    //-   input(type='hidden' name='isHtmlWidget' value='1')

    //- span#gccounterImgContainer