mixin footer(data)
  footer.footer
    .footer__container.container.flex
      .footer__contacts.contacts
        .contacts__title Задать вопросы по курсу можно по номеру:
        a.contacts__contact(href="tel:+79770009276") +7 (977) 000-92-76

      .footer__legal
        .footer__legal-item ИП Райков Е.И.
        .footer__legal-item ИНН: 772411966461
        a.footer__legal-link(href="#link") Договор-оферта