mixin format(data)
  section.format
    .format__container.container
      h2.format__title.title.title_regular Выберите формат участия:

      .format__items.flex
        article.format__item
          .format__top
            .format__item-title
              span Формат Дизайнер
            ol.format__list
              li.format__list-item Основы маркетинга
              li.format__list-item Активация быстрых возможностей
              li.format__list-item Соцсети. Ведение и бесплатные инструменты
              li.format__list-item Заявки от партнеров за %
              li.format__list-item Бесплатные заявки от порталов
              li.format__list-item Клиенты без интернета

          .format__body
            .format__text
              p <span>20 часов обучения + чек листы <br/>и настройки</span> по каждому инструменту
              p Проверка домашних заданий и <span>сопровождение <br/>куратором-маркетологом</span>
              p <span>Результат обучения: </span><br/>Вы получите бесплатно <br/>от 20 заявок на дизайн в месяц!

          .format__bottom
            .format__price.format__price_old 149 999 руб.
            .format__price 59 990 руб.

            a.format__button.button.button_shine.open-popup(href="#popup") Оплатить

            .format__available <span>Осталось мест: 4</span> из 9

        article.format__item
          .format__top
            .format__item-title
              span Формат <br/>Дизайнер-Студия
            ol.format__list
              li.format__list-item Основы маркетинга
              li.format__list-item Активация быстрых возможностей
              li.format__list-item Соцсети. Ведение и бесплатные инструменты
              li.format__list-item Заявки от партнеров за %
              li.format__list-item Бесплатные заявки от порталов
              li.format__list-item Клиенты без интернета
              li.format__list-item Площадки + агрегатов + фриланс биржи
              li.format__list-item Платная реклама в соцсетях
              li.format__list-item Сайт.Яндекс директ + Google Adwords


          .format__body
            .format__text
              p <span>36 часов обучения + чек листы <br/>и настройки</span> по каждому инструменту
              p Проверка домашних заданий и <span>сопровождение <br/>главным маркетологом студии</span>
              p <span>Результат обучения: </span><br/>Вы получите не менее 40 платных <br/>и бесплатных заявок на дизайн в месяц!

          .format__bottom
            .format__price.format__price_old 249 999 руб.
            .format__price 99 990 руб.

            a.format__button.button.button_shine.open-popup(href="#popup") Оплатить

            .format__available <span>Осталось мест: 2</span> из 5