mixin header(data)
  header.header
    .header__container.container
      .header__content
        h1.header__title.title Курс по маркетингу <br/>для дизайнеров интерьера

        .header__subtitle Авторский курс Евгения Райкова, <br/>основателя дизайн студии ViceVerso дизайн

        .header__text Научитесь за 6 недель навсегда обеспечивать себя <br/>клиентами благодаря дешевым инструментам маркетинга

        a.header__button.button.button_shine(href="#link") Забронировать место и скидку за предоплату в 1 000 рублей!
