mixin program(data)
  section.program
    .program__bg.lazy(data-bg='url(assets/images/general/program-bg.png)')
    .program__container.container
      h2.program__title.title.title_regular Программа курса:

      .program__w.program__w_limited.flex

        article.program__item
          .program__num
          .program__item-title Основы маркетинга
          ul.program__list
            li.program__list-item Изучаем структуру курса и вводную <br/>информацию
            li.program__list-item Как правильно проходить данный курс
            li.program__list-item Изучаем базовые принципы маркетинга
            li.program__list-item Внедряем показатели эффективности <br/>маркетинга
            li.program__list-item Замеряем показатели предыдущих <br/>периодов
            li.program__list-item Ставим цель на курс и на 1 год
            li.program__list-item Разбираемся в видах лидов и вводим <br/>их классификацию
            li.program__list-item Выбираем и изучаем маркетинговые стратегии:
              ul
                li — Бесплатный маркетинг в интернете
                li — Условно бесплатный маркетинг в интернете
                li — Платный маркетинг в интернете
                li — Стратегия привлечения клиентов
              | без использования интернета

            li.program__list-item Кто и как будет внедрять инструменты <br/>маркетинга

          .program__summary
            .program__summary-title Результат модуля:
            .program__summary-text У нас есть цель на которую мы работаем <br/>в рамках курса. Мы разобрались, как устроен <br/>маркетинг. Мы внедрили основные метрики оценки <br/>объемов и эффективности маркетинга. У нас изучена <br/>и выбрана стратегия действия на следующий год. <br/>Дальше мы будем ее реализовывать

        article.program__item
          .program__num
          .program__item-title Активация быстрых возможностей
          ul.program__list
            li.program__list-item Изучаем понятие сильный оффер
            li.program__list-item Создаем себе несколько офферов и забрасываем их <br/>потенциальным клиентам
            li.program__list-item Внедряем 7 мощных быстрых бесплатных <br/>инструментов маркетинга
            li.program__list-item Ставим систему учета лидов (в CRM)
            li.program__list-item Внедряем правила работы в CRM

          .program__summary
            .program__summary-title Результат модуля:
            .program__summary-text Мы создали сильное предложение, от которого <br/>нельзя отказаться.Мы внедрили первые семь <br/>быстрых инструментов и получили 5-20 клиентов, <br/>часть изкоторых откликнулась сразу, а часть еще <br/>обратиться к вам в дальнейшем. Мы нетеряем <br/>и ведем всех новых клиентов в простой понятной <br/>системе и отслеживаем все статусы по ним.

        article.program__item
          .program__num
          .program__item-title Соцсети. Ведение и бесплатные инструменты

          ul.program__list
            li.program__list-item Единые принципы ведения соцсетей
            li.program__list-item Создание контент-плана
            li.program__list-item Виды соцсетей для дизайнеров интерьера
              ul
                li — Instagram
                li — Facebook
                li — Vkontakte
                li — Одноклассники
                li — Pinterest.com
                li — Behance.ru
                li — Babyblog.ru
                li — Pinterest.com
                li — Behance.ru

            li.program__list-item Яндекс.аура или любая новая площадка
            li.program__list-item Ньюансы по ведению контента в разных соцсетях
            li.program__list-item Бесплатные способы привлечения клиентов из соцсетей
              ul
                li — Единые
                li — В Инстаграм
                li — В чатах

          .program__summary
            .program__summary-title Результат модуля:
            .program__summary-text Вы начинаете регулярно вести соцсети и начинаете получать оттуда подписчиков и бесплатных клиентов с помощью контента и бесплатных инструментов маркетинга.

        article.program__item
          .program__num
          .program__item-title Платная реклама в социальных сетях

          ul.program__list
            li.program__list-item Изучаем виды платного маркетинга
              ul
                li — Таргетинг
                li — Покупка постов и сторис
                li — Реклама у блогеров

            li.program__list-item Запускаем таргетинг от и до
              ul
                li — FB/Instagram
                li — VK
                li — Одноклассники (MyTarget)
            li.program__list-item Закупаем рекламу у блогеров и в сторис



          .program__summary
            .program__summary-title Результат модуля:
            .program__summary-text У вас есть настроенные рекламные компании для показа системной рекламы в соцсетях.

        article.program__item
          .program__num
          .program__item-title Заявки от партнеров за %

          ul.program__list
            li.program__list-item  Партнерства со смежными нишами:
              ul
                li — Дизайнеры, архитекторы, бюро и студии-конкуренты
                li — Ремонтные компании/частные бригады/прорабы
                li — Магазины мебели/материалов/сантехники/кухонь

                li — Компании по строительству/ частные строители загородных домов
                li — Риелторы и риэлторские агентства
                li — Управляющие компании ЖК/КП, Застройщики, его сотрудники
                li — И другими смежными нишами


            li.program__list-item Где искать партнеров?
            li.program__list-item Переговоры о партнерстве и создание договоренностей
            li.program__list-item Рассылка по базам с предложением о партнерстве
            li.program__list-item E-mail рассылки для партнеров



          .program__summary
            .program__summary-title Результат модуля:
            .program__summary-text Вы получаете клиентов на дизайн от партнеров, и делитесь с ними частью от полученных денег, а не несете предварительные расходы на маркетинг

        article.program__item
          .program__num
          .program__item-title Бесплатные заявки с порталов

          ul.program__list
            li.program__list-item  Оформление площадок как аналога сайта вашей дизайн студии:
              ul
                li — Яндекс услуги
                li — Houzz
                li — InMyRoom

            li.program__list-item Активный поиск заказов на площадках
            li.program__list-item Как вывести свою компанию в данных площадках в ТОП и получать заказы бесплатно
            li.program__list-item Платные способы продвижения своей студии на площадках

          .program__summary
            .program__summary-title Результат модуля:
            .program__summary-text Вы находитесь в ТОПе на данных площадках среди дизайнеров вашего города. К вам приходят бесплатные звонки и заявки от горячих клиентов

        article.program__item
          .program__num
          .program__item-title Площадки, агрегаторы и фриланс биржы

          ul.program__list
            li.program__list-item Получаем заявки с досок объявлений
              ul
                li — Авито
                li — Юла
                li — Из рук в руки

            li.program__list-item Выкладываем объявления на доски
            li.program__list-item Стратегия получения заявок с досок объявлений
            li.program__list-item Активно собираем заказы с агрегаторов
              ul
                li — YouDo
                li — Profi.ru
            li.program__list-item Берем заказы со всей России с Фриланс площадок:  fl.ru, freelance.ru, kwork.ru и другие

          .program__summary
            .program__summary-title Результат модуля:
            .program__summary-text ВУ нас есть еще больше низкоконкурентных площадок, откуда мы можем привлекать еще больше клиентов.

        article.program__item
          .program__num
          .program__item-title Клиенты без интернета

          ul.program__list
            li.program__list-item Активные действия вне интернета. Еще 12 инструментов привлечения клиентов
            li.program__list-item Рекламные методы, в которых мы потеряли 3 000 000 рублей. Их мы вам не рекомендуем
            li.program__list-item Как развиваться дальше
              ul
                li — Из дизайнера в дизайн-студию
                li — Делегирование
                li — Заработок с комплектации
                li — Повышаем средний чек проекта

          .program__summary
            .program__summary-title Результат модуля:
            .program__summary-text Вы вооружены инструменты привлечения клиентов из оффлайна. У вас есть понимание, куда двигаться дальше и как достичь дохода в 500 000 в месяц и больше

        article.program__item
          .program__num
          .program__item-title Сайт + Яндекс и Google

          ul.program__list
            li.program__list-item Связка сайт + трафик
            li.program__list-item Яндекс директ поиск
            li.program__list-item Яндекс директ РСЯ
            li.program__list-item Google Adwords
            li.program__list-item Таргетинг в соцсетях
            li.program__list-item CPA-сет
            li.program__list-item Пиксели и ретаргетинг
            li.program__list-item Аналитика рекламы и utm-метки


          .program__summary
            .program__summary-title Результат модуля:
            .program__summary-text Вы понимаете как платно можно привлекать горячих клиентов с рынка в огромных объемах


      button.program__more.button.button_shine Смотреть состав других модулей