mixin feedback(data)
  section.feedback
    .feedback__bg.lazy(data-bg='url(assets/images/general/feedback-bg.png)')
    .feedback__container.container
      h2.feedback__title.title.title_regular Отзывы наших учеников:

      .feedback__w
        ul.feedback__list.flex
          li.feedback__item
            .feedback__video.video
              .video__object
                .video__prev.lazy(data-bg='url(//img.youtube.com/vi/KAiL_LeyB9o/maxresdefault.jpg)')

                  button.video__button

                |<iframe class="video__iframe" width="560" height="315" src="" data-src="//youtube.com/embed/KAiL_LeyB9o?autoplay=1&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>

            .feedback__item-title Виктория, г. Воронеж, дизайнер интерьера

          li.feedback__item
            .feedback__video.video
              .video__object
                .video__prev.lazy(data-bg='url(//img.youtube.com/vi/tTco16mbSTk/maxresdefault.jpg)')
                  button.video__button

                |<iframe class="video__iframe" width="560" height="315" data-src="//youtube.com/embed/tTco16mbSTk?autoplay=1&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>

            .feedback__item-title Виктория, г. Воронеж, дизайнер интерьера

          li.feedback__item
            .feedback__video.video
              .video__object
                .video__prev.lazy(data-bg='url(//img.youtube.com/vi/z8AFHxMX0EY/maxresdefault.jpg)')
                  button.video__button
                |<iframe class="video__iframe" width="560" height="315" data-src="//youtube.com/embed/z8AFHxMX0EY?autoplay=1&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>

            .feedback__item-title Ярослав, г. Москва, строитель

          li.feedback__item
            .feedback__video.video
              .video__object
                .video__prev.lazy(data-bg='url(//img.youtube.com/vi/MMABX3vulhs/maxresdefault.jpg)')
                  button.video__button
                |<iframe class="video__iframe" width="560" height="315" data-src="//youtube.com/embed/MMABX3vulhs?autoplay=1&controls=0&showinfo=0" frameborder="0" allowfullscreen></iframe>

            .feedback__item-title Виктория, г. Воронеж, дизайнер интерьера