mixin learn(data)
  section.learn
    .learn__container.container
      h2.learn__title.title.title_regular Чему вы научитесь за курс?
      ul.learn__list.flex
        li.learn__item
          picture.learn__icon
            source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/general/learn-1@2x.webp 2x, assets/images/general/learn-1.webp 1x')
            source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/general/learn-1@2x.png 2x, assets/images/general/learn-1.png 1x')

            img.lazy(data-src="assets/images/general/learn-1@2x.png", alt="")

          .learn__item-title Где рекламироваться?
          .learn__text Разберем 65 инструментов <br/>привлечения клиентов

        li.learn__item
          picture.learn__icon
            source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/general/learn-2@2x.webp 2x, assets/images/general/learn-2.webp 1x')
            source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/general/learn-2@2x.png 2x, assets/images/general/learn-2.png 1x')

            img.lazy(data-src="assets/images/general/learn-2@2x.png", alt="")

          .learn__item-title Как рекламироваться?
          .learn__text Выберем рекламную стратегию <br/>под вас и ваши цели

        li.learn__item
          picture.learn__icon
            source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/general/learn-3@2x.webp 2x, assets/images/general/learn-3.webp 1x')
            source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/general/learn-3@2x.png 2x, assets/images/general/learn-1.png 1x')

            img.lazy(data-src="assets/images/general/learn-3@2x.png", alt="")

          .learn__item-title Как рекламироваться <br/>бесплатно?
          .learn__text Разберем 65 инструментов <br/>привлечения клиентов

        li.learn__item
          picture.learn__icon
            source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/general/learn-1@2x.webp 2x, assets/images/general/learn-1.webp 1x')
            source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/general/learn-1@2x.png 2x, assets/images/general/learn-1.png 1x')

            img.lazy(data-src="assets/images/general/learn-4@2x.png", alt="")

          .learn__item-title Как управлять потоком <br/>входящих заявок?
          .learn__text Вы научитесь привлекать клиентов <br/>по потребности и в нужном количестве

        li.learn__item
          picture.learn__icon
            source(type='image/webp' media='(min-width:300px)' data-srcset='assets/images/general/learn-1@2x.webp 2x, assets/images/general/learn-1.webp 1x')
            source(type='image/png' media='(min-width:300px)' data-srcset='assets/images/general/learn-1@2x.png 2x, assets/images/general/learn-1.png 1x')

            img.lazy(data-src="assets/images/general/learn-5@2x.png", alt="")

          .learn__item-title Как превращать заявки <br/>в договора на дизайн?
          .learn__text Изучим этапы продаж и техники <br/>закрытия заявок от клиентов в договора!